.vscode/
.idea/
.venv/
.cache/
*build*/

# Ignore `compile_commands.json` (Contains Absolute Paths)
compile_commands.json

# Ignore Generated MJCF XML & URDF Files (Contains Absolute Paths)
assets/urdf/_compiled/*.urdf
assets/mjcf/*.xml

# Keep Scene & Extension MJCF XML Files
!assets/mjcf/*_scene.xml
!assets/mjcf/*_extension.xml

# Ignore Validation / Experiment Log and CSV outputs
tests/results/

# Ignore Python Bytecode and Cache Directories
__pycache__/
*.pyc

# pixi environments
.pixi/*
!.pixi/config.toml
